*{
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.container{
    padding: 0 7%;
} 

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.airfares{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 30px;
    margin-bottom: 10px
}
.airfares div img{
    width: 100%;
    border-radius: 10px;
}
.airfares div{
    position: relative;
}
.airfares div span{
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: #ec0909;
} 
.airfares h3{
    font-weight: 600;
    margin-top: 10px;
}

.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10 px,
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 2px 0;
}
.footer p{
    padding-bottom: 15px;
}